In [3]:
import pandas as pd

# File path to your .xlsx file
file_path = 'C:\\Users\\HP\\Downloads\\Vrinda Store Data Analysis.xlsx'

# Load the Excel file
df = pd.read_excel(file_path, engine='openpyxl')

# Print the first 5 rows of the DataFrame to inspect the data
print(df.head())

   index             Order ID  Cust ID Gender  Age Age Group       Date MONTH  \
0      1  171-1029312-3038738  1029312  Women   44     ADULT 2024-07-01   Jul
1      2  405-2183842-2225946  2183842  Women   29  TEENAGER 2022-12-04   Dec
2      3  171-1641533-8921966  1641533  Women   67    SENIOR 2022-12-04   Dec
3      4  404-7490807-6300351  7490807  Women   20  TEENAGER 2022-12-04   Dec
4      5  403-9293516-4577154  9293516  Women   62    SENIOR 2022-12-04   Dec

      Status Channel   ... Category Size Qty  currency Amount  ship-city  \
0  Delivered   Myntra  ...    kurta  XXL   1       INR    376     MOHALI
1  Delivered     Ajio  ...      Set    L   1       INR   1449   GURUGRAM
2  Delivered   Myntra  ...      Set    S   1       INR    453    KOLKATA
3  Delivered   Amazon  ...      Set    M   1       INR    729  THANJAVUR
4  Delivered   Myntra  ...    kurta  XXL   1       INR    544   GURUGRAM

    ship-state ship-postal-code  ship-country    B2B
0       PUNJAB           140301            IN  False
1      HARYANA           122002            IN  False
2  WEST BENGAL           700029            IN  False
3   TAMIL NADU           613007            IN  False
4      HARYANA           122001            IN  False

[5 rows x 21 columns]

In [8]:
import warnings
import pandas as pd

# Suppress specific warning related to slicer lists
warnings.filterwarnings("ignore", message="Slicer List extension is not supported")

# File path to your .xlsx file
file_path = 'C:\\Users\\HP\\Downloads\\Vrinda Store Data Analysis.xlsx'

# Load all sheets as a dictionary of DataFrames
all_sheets_df = pd.read_excel(file_path, sheet_name=None, engine='openpyxl')

# Print the sheet names and the first 5 rows of each sheet
for sheet_name, data in all_sheets_df.items():
    print(f"Sheet Name: {sheet_name}")
    print(data.head(), '\n')  # Print the first 5 rows of each sheet

Sheet Name: Vrinda Store
   index             Order ID  Cust ID Gender  Age Age Group       Date MONTH  \
0      1  171-1029312-3038738  1029312  Women   44     ADULT 2024-07-01   Jul
1      2  405-2183842-2225946  2183842  Women   29  TEENAGER 2022-12-04   Dec
2      3  171-1641533-8921966  1641533  Women   67    SENIOR 2022-12-04   Dec
3      4  404-7490807-6300351  7490807  Women   20  TEENAGER 2022-12-04   Dec
4      5  403-9293516-4577154  9293516  Women   62    SENIOR 2022-12-04   Dec

      Status Channel   ... Category Size Qty  currency Amount  ship-city  \
0  Delivered   Myntra  ...    kurta  XXL   1       INR    376     MOHALI
1  Delivered     Ajio  ...      Set    L   1       INR   1449   GURUGRAM
2  Delivered   Myntra  ...      Set    S   1       INR    453    KOLKATA
3  Delivered   Amazon  ...      Set    M   1       INR    729  THANJAVUR
4  Delivered   Myntra  ...    kurta  XXL   1       INR    544   GURUGRAM

    ship-state ship-postal-code  ship-country    B2B
0       PUNJAB           140301            IN  False
1      HARYANA           122002            IN  False
2  WEST BENGAL           700029            IN  False
3   TAMIL NADU           613007            IN  False
4      HARYANA           122001            IN  False

[5 rows x 21 columns]

Sheet Name: VRINDA STORE DASHBORD
Empty DataFrame
Columns: [VRINDA STORE ANNUAL REPORT TILL 2024]
Index: []

Sheet Name: CHANNELS
   Unnamed: 0         Unnamed: 1
0         NaN                NaN
1  Row Labels  Count of Order ID
2      Amazon           0.354817
3      Myntra           0.233646
4    Flipkart           0.215898

Sheet Name: GENDER AGE
          Unnamed: 0     Unnamed: 1 Unnamed: 2
0                NaN            NaN        NaN
1  Count of Order ID  Column Labels        NaN
2         Row Labels            Men      Women
3              ADULT       0.154701   0.345927
4             SENIOR       0.059136   0.136986

Sheet Name: TOP STATES
      Unnamed: 0     Unnamed: 1
0            NaN            NaN
1     Row Labels  Sum of Amount
2    MAHARASHTRA        2990221
3      KARNATAKA        2646358
4  UTTAR PRADESH        2104659

Sheet Name: ORDER STATUS
   Unnamed: 0         Unnamed: 1
0         NaN                NaN
1  Row Labels  Count of Order ID
2   Cancelled                844
3   Delivered              28641
4    Refunded                517

Sheet Name: SALES VS ORDERS
   Unnamed: 0         Unnamed: 1     Unnamed: 2
0         NaN                NaN            NaN
1  Row Labels  Count of Order ID  Sum of Amount
2         Jan               2702        1820601
3         Feb               2750        1875932
4         Mar               2819        1928066

Sheet Name: MEN VS WOMEN
   Unnamed: 0     Unnamed: 1
0         NaN            NaN
1  Row Labels  Sum of Amount
2         Men        7613604
3       Women       13562773

Sheet Name: Sheet1
   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8     Unnamed: 9    Unnamed: 10  \
0         NaN         NaN         NaN            NaN            NaN
1         NaN         NaN         NaN       Category  Western Dress
2         NaN         NaN         NaN           Size              L
3         NaN         NaN         NaN            NaN            NaN
4         NaN         NaN         NaN  Sum of Amount            NaN

  Unnamed: 11 Unnamed: 12
0         NaT         NaN
1         NaT         NaN
2         NaT         NaN
3         NaT         NaN
4         NaT         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31047 non-null  int64
 5   Age Group         31047 non-null  object
 6   Date              31047 non-null  datetime64[ns]
 7   MONTH             31047 non-null  object
 8   Status            31047 non-null  object
 9   Channel           31047 non-null  object
 10  SKU               31047 non-null  object
 11  Category          31047 non-null  object
 12  Size              31047 non-null  object
 13  Qty               31047 non-null  int64
 14  currency          31047 non-null  object
 15  Amount            31047 non-null  int64
 16  ship-city         31047 non-null  object
 17  ship-state        31047 non-null  object
 18  ship-postal-code  31047 non-null  int64
 19  ship-country      31047 non-null  object
 20  B2B               31047 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(6), object(13)
memory usage: 4.8+ MB